.navbar {
color: black;
}
.navbar1 {
  color: lightgrey;
}

.navbar3 {
  color: lightgrey;
}

.box {
  width: 250px;
  height: 250px;
  float: right;
  margin: 10px;
  margin-bottom: 0;
padding: 0px;

}

.green {
  background-color: black;
}

.purple {
background-color: purple;
}

.black {
  background-color: darkgreen;
}

.boxes {
  width: 250px;
  height: 300px;
  float: right;
  margin: 10px
}

.lightgrey {
  background-color: lightgrey;
  }

.lightgrey1 {
  background-color: lightgrey;
}

.lightgrey2 {
  background-color: lightgrey;
}

.whitebox {
  width: 250px;
  height: 150px;
    float: right;
  margin: 10px;
  margin-top: 0px;

}

.white {
  background-color: blue;
}

.white1 {
  background-color: blue;
}

.white2 {
  background-color: blue;
}
